body {
  font: 14px sans-serif;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
}

#title {
  font: 26px sans-serif;
  position: absolute;
  top: -40px;
  left: 450px;
}

#FilterableTable {
  width: auto;
  height: 100%;
  margin-top:30px;
}

#FilterableTable thead {
  position: fixed;
}

#FilterableTable th {
    /*width: 219px;
     border: none; 
    border-left: none;*/
}


/*#FilterableTable .table {
  width: 97.7%;
}*/

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
  border-top: 1px solid #ddd;
}

#FilterableTable .table {
  border: none;
}

#FilterableTable .table thead {
  width: 100%;
}
#FilterableTable .table tbody {
  max-height: 245px;
  overflow-y: auto;
  width: 100%;
  padding-top: 35px;
}
#FilterableTable .table thead, #FilterableTable .table tbody, #FilterableTable .table tr, #FilterableTable .table td, .table-fixed th {
  display: block;
  width: 100%;
}
#FilterableTable .table tbody td, #FilterableTable .table thead > tr> th {
  float: left;
  border-bottom: 1px solid #ddd;
      width: 216px;
    height: 35px;
}

#FilterableTable .table tbody td {
  border-top: none;
}

#FilterableTable td {
  width: 220px;
}

.SearchBar { 
  display: inline; 
  position: relative;
  left: 1%;
}

.SearchBar input {
  position: relative;
  left: 2%;
}

table { 
  margin-bottom: 20px;
}

table a:link, a:visited { text-decoration: none; }

table a:hover, a:active { text-decoration: underline; }

table, th, td { border: 1px solid black; }

td, th {
  padding: 5px;
  text-align: center;
  height: 20px;
}


.table th {
    background-color: #f4f4f4;
    text-align: center;
    border-bottom: 1px solid #d7d7d7;
    color: #6e6e6e;
    vertical-align: middle;
    font-weight: normal;
}   

.table td {
    border-bottom: 1px solid #d7d7d7;
    text-align: center;
    vertical-align: middle;
    color: #333333;
    font-size: 12px;
    background: #fff;
}

.custom-pegination {
    margin: 0;
}

.custom-pegination li {
    float: left;
}

.pagination-input {
    border-radius: 0;
    box-shadow: none;
    border-left: 0;
    border-right: 0;
    width: 50px;
    text-align: center;
}

label.pagination-input {
    float: left;
    padding-left: 0;
    margin: 0;
    width: 20px;
}

#totalPages {
    background: none;
}

/**********************************************|
|* Custom CSS for overriding bootstrap styles *|
|**********************************************/
.table-bordered{
    width: auto;
}
.filter-icon, .active-icon {
    display: block;
    float: right;
}
.filter-icon i, .active-icon i {
    font-size: 20px;
    cursor: pointer;
}
.filter-row{
    
}


.filter-list-container {
    position: absolute;
    left: 7%;
}

.list {
    list-style: none;
    padding: 10px;
    background: #333;
    color: #fff;
    text-align: left;
    max-height: 200px;
    overflow: auto;
    margin-bottom: 0;
}

.list:before {
 content:".";
    width: 0;
height: 0;
border-style: solid;
border-width: 0 10px 10px 10px;
border-color: transparent transparent #333 transparent;
        top: -10px;
    position: absolute;
    left: 40%;
}

#filter-list-container {
    /*position: relative;*/
    position: absolute;
    left: 7%;  
}

.list li {
    padding: 5px;
    float: left;
}

.custom-btn {
    border-radius: 0;
    -moz-border-radius:0;
}

.checkbox-container {
    clear: both;
}

.hide {
    display: none;
}

.filter-icon, .active-icon {
    display: block;
    float: right;
    position: relative;
}
#filter-list-container {
    /* position: relative; */
    position: absolute;
    left: -82px;
    width: 200px;
}

html {
    height: 100%;
}

